.footer-bar
  background: map-get($theme-colors, dark-grey)
  color: #fff
  padding: 15px

.footer-links
  text-align: right

  &__link
    display: inline-block
    padding-left: 15px

    a
      color: #fff !important
