.profile_search
  form
    display: flex
    justify-content: space-between

    .form-group
      flex-basis: 25%

    p
      display: none

    a.form-submit
      background: map-get($theme-colors, green)
      height: 34px
      border: none
      margin: 0 !important
      padding: 8px 12px
      
    select
      background-color: #fff !important
      background: #fff
      border-radius: 2px
